global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: "backend"
    static_configs:
      - targets: ["backend:8080"]
  
  - job_name: "cAdvisor"
    static_configs:
      - targets: ["cadvisor:8000"]